// Modal-wrapper submit button
.submit-btn{    
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    
    width: 200px;
    height: 50px;
  
    margin: auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    border: none;
    border-radius: 4px;
    
    box-shadow: $box-shadow;
    color: $background-color;
    background-color: $accent-color;
  
    transition-property: inherit;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }

// Modal-wrapper close button

  .modal-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    
    width: 30px;
    height: 30px;
    padding: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: none;
    cursor: pointer;
    outline: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $background-color;
    
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover,
    &:focus{
      border: 1px solid $accent-color;
    
    }
  }

  .modal-btn-icon{
    position: relative;
    fill: #000000;

    .modal-btn:hover &,
    .modal-btn:focus &{
      fill: $accent-color;
    }
  }

// Hero-section button

.hero-section__btn{
    font-family: 'Roboto', 'Sans-Serif';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
  
    width: 200px;
    height: 50px;
  
    border: none;
    border-radius: 4px;
   
    text-align: center; 
    align-items: center;
    display: inline-block;
  
    transition-property: inherit;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  
    color: $background-color;
    background-color: $accent-color;
    box-shadow: $box-shadow;
  }

//   Portfolio-section buttons

  .portfolio__btn{
    font-family: 'Roboto', 'Sans-Serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
  
    padding: 6px 22px 6px 22px;
  
    transition-property: color, $background-color, $box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  
    color: $title-text-color;
    background-color: $team-n-buttons-color;

    &:hover,
    &:focus{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: $accent-color;
      color: $background-color;
    } 
  }
  
  .portfolio__sum-btn{
    font-family: 'Roboto', 'Sans-Serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
    
    color: $background-color;
    background-color: $accent-color;

    &:hover,
    &:focus{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: $accent-color;
      color: $background-color;
    } 
  }


//   Footer send-button

.footer__btn{
    font-family: 'Roboto', 'Sans-Serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 11px 29px;
    cursor: pointer;
    margin-left: 12px;
    display: flex;
    align-items: center;
  
    transition-property: inherit;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    color: $background-color;
    background-color: $accent-color;
  }
  
  .icon-send{
    fill: #FFFFFF;
    margin-left: 10px;
  }