.customers__item{
    margin-right: 30px;
  }
  
  .customers__item:last-child{
    margin-right: 0;
  }
  
  .customers__list{
    display: flex;
  }
  
  .customers__link{
     width: 170px;
     height: 92px;
  
     display: flex;
     justify-content:center;
     align-items: center;
    
     outline: transparent;
     border: 1px solid $bombay;
     border-radius: 4px;
  
     background-size:  contain;
     background-repeat: no-repeat;
     background-position: center; 
     fill: $bombay;
  
     transition-property: fill, border-color;
     transition-duration: $duration;
     transition-timing-function: $timing; 

     &:hover,
     &:focus{
       fill: $dodger-blue;
       border-color: $dodger-blue;
     }
  }