.features__list{
    display: flex;
    flex-direction: column;
    padding-left: 0%; 

    
  }
  
  .features__item{
    // margin-right: 30px;
    width: 450px; 

    // &:last-child{
    //   margin-right: 0;
    // }
  }
    
//   .features__container{

//     margin-bottom: 30px;
//     background: #F5F4FA;
//     border-radius: 4px;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     width: 450px;
//     height: 120px;

//   }
    
  .features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
    margin-bottom: 10px;
  text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  
    color: $tuna;
  }
  
  .features__paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;

    &:last-child{
      margin-right: 0;
    }
  }
  
