.features__list{
    display: flex;
    padding-left: 0%; 
  }
  
  .features__item{
    margin-right: 30px;
    width: 270px; 

    &:last-child{
      margin-right: 0;
    }
  }
    
  .features__container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 270px;
    height: 120px;
    
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
  }
    
  .features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
    margin-bottom: 10px;
  
    text-decoration: none;
    text-transform: uppercase;
  
    color: $title-text-color;
  }
  
  .features__paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;

    &:last-child{
      margin-right: 0;
    }
  }
  
