

.nav__list{

  align-items: center;
  display: flex;
  

  // @media screen and (max-width:767.98px){ 
  //   display: none;
  // }
    

   
}
  
 .nav__item{
    margin-right: 50px;

    &:last-child{
      margin-right: 0;
    }
  }
    
  .nav__link{
    display: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $timing;
  
    color: $tuna;

    &:hover,
    &:focus{
      color: $dodger-blue;
    }
  }
  
  .nav__link--active{
    position: relative;
    
    color: $dodger-blue; 

    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $dodger-blue;
    
      position: absolute;
      bottom: 0;
      left: 0;
    }     
  }
  
