.hero-section{
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
  
    max-width: 1600px;
    min-height: 600px;
  
    margin-left: auto;
    margin-right: auto;
  
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-color: $hero-footer-background-color;
  
    background-image: linear-gradient(to right,
    rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)),
    url(../images/header-img.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-section__slogan{
    width: 696px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
      
    text-align: center;
    text-transform: uppercase;
  
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 30px;
    
    color: $background-color;
  }