.hero-section{
 
    min-height: 400px;
  
    // margin: 60px auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    max-width: 1600px;
    min-height: 400px;

    background-color: $tuna;
    

    // font-family: 'Roboto';
    // font-style: normal;
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 60px;
    // letter-spacing: 0.06em;
    
     
   
  
    // background-image: linear-gradient(to right,
    // rgba(47,48,58,0.4), 
    // rgba(47,48,58,0.4)),
    // url(../images/header-img.jpg);
    
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
  }
  
  .hero-section__slogan{
    
    font-family: 'Roboto', 'Sans-Serif';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
      
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;


    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 30px;
 
     
    
    width: 360px;

  }