.header-menu__menu{
    background-color: $white;
    padding-left: 40px;
    padding-bottom: 48px;
  
    text-align: center;
    font-size: 20px;
  
    @media screen and (max-width:767px) {
      display: none;
      position: absolute;
      
      top: 0;
      left: 0;
      z-index: 10;
  
      width: 480px;
  
      &.is-open{
        display: block;
      }
    }
  
    @media screen and (min-width:$tablet){
      display: flex;
      padding: 0;
      align-items: center;    
    }
  
    @media screen and (min-width:$desktop){
    justify-content: space-between;   
    }
  } 

  
  // Header Menu Button

.header-menu__btn{
    width: 40px;
    height: 40px;
    background-color: $white;
    border: none;
    line-height: 0;
    padding: 0;
    
    position: relative;
    z-index: 20;
  
    &:hover,
    &:focus{
      fill: $dodger-blue;
    }
  }
  
  .header-menu__btn .icon-cross{
    display: none;
  }
  
  .header-menu__btn.is-open .icon-cross{
    display: block;
  }
  
  .header-menu__btn.is-open .icon-burger{
    display: none;
  }