.modal-wrapper{ 
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;

  border-radius: 4px;
   background-color: $white;

  width:100%;
 

  z-index: 100;

  @media screen and (max-width:478px)  {
    max-width: 450px;
  }

  @media screen and (min-width:$mobile)  {
    max-width: 450px;
  }
  

  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }


}
  
.modal-wrapper__watchword{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  
  margin-bottom: 12px; 
  
  text-align: center;
  letter-spacing: 0.03em;
  color: $mineshaft;

  width: 370px;
  
  text-align: center;

  @media screen and (max-width:478px) {
    width: 100%;
  }

  @media screen and (min-width:$desktop) {
    line-height: 1.15;
    width: 528px;
  }

}
  
.modal-wrapper__list{ 
  display: flex;
  flex-direction: column;
  text-align: left;
}
  
.modal-wrapper__label{
  display: block;
  position: relative;
  margin-bottom: 10px;
}
  
.modal-wrapper__item{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  
  margin-bottom: 4px;
  
  display: block;
}
  
.modal-wrapper__input{
  font-family: 'Roboto', 'Sans-Serif';
  font-size: 14px;
  letter-spacing: 0.02em;
    
  padding: 11px 42px;
    
  height: 40px;
  width: 100%;
  
  display: block;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 
    
  transition-property: border;
  transition-duration: $duration;
  transition-timing-function: $timing;

  &:hover,
  &:focus{
    border: 1px solid $dodger-blue;
  }
}
  
.modal-wrapper__icon{
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: $duration;
  transition-timing-function: $timing;
  
  fill: $tuna;

}
  
.modal-wrapper__textlabel{
  display: block;
  margin-bottom: 20px;
}
  
.modal-wrapper__textarea{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  display: block;
  resize: none;
  
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing;
}
  
.modal-wrapper__input:hover ~ .modal-wrapper__icon,
.modal-wrapper__input:focus ~ .modal-wrapper__icon{
  fill: $dodger-blue;
}
  
.modal-wrapper__textarea:hover,
.modal-wrapper__textarea:focus{
  border: 1px solid $dodger-blue;
} 
  
.modal-wrapper__agreement{  
  position: relative;
  margin-bottom: 30px;
}
  
.phrase{
  position: relative;
  display: block;
  margin-left: 33px;
}
  
.checkbox{
  position: absolute;
  margin-left: 12px;

  &:checked + .custom-checkbox .custom-checkbox-icon{
    opacity: 1;
  }

  &:checked + .custom-checkbox {
    background-color: $dodger-blue;
    fill: $white;
  }

  &:focus + .custom-checkbox,
  &:hover + .custom-checkbox{
    border: 1px solid $dodger-blue;
    outline: 2px solid $dodger-blue;
  }
}
      
.agreement-form-group{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1; 
  letter-spacing: 0.03em;
  
  display: flex;
  align-items: center;
}
  
.agreement-phrase{
  color: $dodger-blue;
  text-decoration-line: underline;
}

.custom-checkbox{
  position: absolute;
  content: '';
  top: 0px;
  left:10px;
  
  width: 16px;
  height: 15px;
  
  display:flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 2px;
  outline: 2px solid $tuna;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.custom-checkbox-icon{
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}