.footer{
    padding-top:60px;
    padding-bottom: 60px;
   
    background-color: $hero-footer-background-color;
  }
  
  .footer__info-container{
    display: flex;
    align-items: baseline;
  }
  
  .footer__adress-group{
    margin-right: 70px;
  }
  
  .footer__logo{
    font-family: 'Raleway', 'Sans-Serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  
    margin-bottom: 20px;
    display: block;
    
    color: $accent-color;
  }
  
  .footer__logo-color{
    color: $background-color;
  }
  
  .footer__list{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
    
    font-style: normal; 
    list-style: none;
    padding-left: 0;  
  }
  
  .footer__adress{
    font-style: normal;
    line-height: 24px;
  
    color: $background-color;
  }
  
  .footer__adress-item{
    margin-top: 9px;
  }
  
  .footer__link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  
    transition-property: inherit;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;  
    color: $footer-links-color; 

    &:hover, 
    &:focus{
      color: $accent-color;
    }
  }
  

  .footer-invite-container{
    margin: 0;
  }
  
  .footer__heading{
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    
    margin-bottom: 20px;
    color: $background-color;
  }
  
 

  .footer__msg-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: auto;  
  }
  
  .footer__msg-form{
    display: flex;
    align-items: baseline;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__input{
    font-family: 'Roboto', 'Sans-Serif';
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: transparent;  
    color: #FFFFFF;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    padding: 15px 16px;
      
    width: 358px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
  }