.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;      
  }
  
  .portfolio__container{
    width: 1200px;
     
    margin-left: auto;
    margin-right: auto; 
  }
  
  .portfolio__btn-list{
    text-decoration: none;
    justify-content: center;
    display: flex;    
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
    color: $title-text-color;
  }
  
  .portfolio__item{
    align-items: center;
    margin-right: 8px;
  }
  
  .filter-btn-container:last-child{
    margin-right: 0;
  }