.portfolio{
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop){
    padding-top: 94px;
    padding-bottom: 94px; 
  }
}
  
.portfolio__btn-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
  
.portfolio__item{
  align-items: center;
}
  
.filter-btn-container:last-child{
  margin-right: 0;
}