.portfolio{
  padding-top: 60px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 30px;
  }
    
  @media screen and (min-width: $desktop){
    padding-top: 94px;
    padding-bottom: 50px; 
  }
}
  
  
.portfolio__btn-list{
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
  
.portfolio__item{
  align-items: center;
  }
  
.filter-btn-container:last-child{
  margin-right: 0;
}