.projects{
    margin: -15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
    align-items: center;
  }
  
  .projects__item{
    margin-top: 30px;
    margin: 15px;
    display: block;
    align-items: center; 

    &:hover,
    &:focus{
      box-shadow: $projects-shadow;
    }
  }
  
  .projects__link{
    display: block;
    max-width: 370px;
    list-style: none;
    text-decoration: none;
  
    transition-property: box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  
    overflow: hidden;

    &:hover,
    &:focus{
      box-shadow: $projects-shadow;
    }
  }
  
  
  .projects__overlay{
    position: relative;
    overflow: hidden;

    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 101%;
      background-color: rgba(33, 150, 243, 0.9);
      
      transition-property: transform;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .projects__overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 322px;
    height: 168px;
   
    transform: translate(-50%, 125%);
  
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $background-color;
    
    transition-property: transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  
  .projects__link:focus .projects__overlay-text,
  .projects__item:hover .projects__overlay-text{
    opacity: 1; 
    transform: translate(-50%, -50%);    
    } 
  
  .projects__item:hover .projects__overlay::before,
  .projects__link:focus .projects__overlay::before{
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .projects__card{
    padding: 20px 24px;
    border-left: $border-color solid 1px;
    border-right: $border-color solid 1px;
    border-bottom: $border-color solid 1px; 
  }
  
  .projects__customer{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.04em;
    margin-bottom: 4px; 
    color: $title-text-color;
  }
  
  .projects__description{
    font-size: 16px;
    line-height: 1.85;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }