.services{
    padding-bottom: 94px;
  }
  
  .services__list {
    display: flex;
    padding-left: 0%; 
  }
  
  .services__item{
    position: relative;
    display: block;
    margin-right: 30px;

    &:last-child{
      margin: 0;
    }
  }
    
  .services__image{
    display: block;
  }
  
  .servises__description{
    position: absolute;
    bottom: 0px;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .services__paragraph{
  
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: $background-color;
  }