.team-section{ 
    background-color: $team-n-buttons-color;
  }
  
  .team__list{
    text-align: center;
    display: flex;
    padding-left: 0;
  }
  
  .team__block{
    background-color: $background-color;
    margin-right: 30px;
    
    box-shadow: $projects-shadow;
  }
  
  .team__block:last-child{
    margin: 0;
  }
  
  .team-photo{
    max-width: 100%;
  }
  
  .team__card{
    padding: 30px 32px;
  }
  
  .team__name{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
  
    margin-bottom: 10px;
  
    color: $title-text-color;
  }
  
  .team__position{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  
    text-align: center;
  }
  
  