body{
    font-family: 'Roboto', 'Sans-Serif';
    font-size: 14px;
    letter-spacing: 0.02em;
    
    
    color: $boulder;
    background-color: $white;
  
    // @media screen and (min-width: $mobile)  {
    //   background-color: #F5F4D1;}

    //   @media screen and (min-width: $tablet)  {
    //     background-color: #F5D1F2;}

  }

 
  


