.section{
    // padding-top: 30px;
    // padding-bottom: 30px;
  }

.container{

    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto; 
   
  // background-color: #98FB9C;

  @media screen and (min-width: $mobile){
    width: $mobile;
    // background-color: #D8C722;
  }

  @media screen and (min-width: $tablet){
    width: $tablet;
    background-color: #F6B4B1;
  }

  @media screen and (min-width: $desktop){
    width: $desktop;
    background-color: #E598FB;

  }

  }


  .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    padding-top: 60px;
    padding-bottom: 30px;
  
    text-align: center;
    color: $tuna;
  }


 