.section{
    padding-top: 94px;
    padding-bottom: 94px;
  }

.container{
    width: 1200px;
  
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto; 
    /* outline: 2px solid tomato; */
  }

  .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    margin-bottom: 50px;
  
    text-align: center;
    color: var(--title-text-color);
  }