.container{

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
  @media screen and (min-width: $mobile){
    width: $mobile;
    // outline: 1px solid red;
    
  }

  @media screen and (min-width: $tablet){
    width: $tablet;
    // outline: 1px solid green;
  }

  @media screen and (min-width: $desktop){
    width: $desktop;
    
    // outline: 1px solid blue;
  }
  }

  .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    padding-top: 60px;
    padding-bottom: 30px;
    
    text-align: center;
    color: $tuna;
  }


  .customers__section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    padding-top: 60px;
    padding-bottom: 15px;
    
    text-align: center;
    color: $tuna;
  }