.img-set{
    padding: 0;
    margin: 0;
    list-style: none;

  @media screen and (min-width: $mobile){
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }  
}    

.img-set__item{
  border: 2px solid teal;

  @media screen and (min-width: $mobile){
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet){
    flex-basis: calc((100% - 4 * 5px) / 2);
    margin-bottom: 5px;
  }

  @media screen and (min-width: $desktop){
    flex-basis: calc((100% - 8 * 5px) / 4);
  } 
}

