:root{
  $primary-text-color:#757575;
  $background-color:#FFFFFF;
  $title-text-color:#212121;
  $hero-footer-background-color:#2F303A;
  $accent-color:#2196F3;
  $team-n-buttons-color:#F5F4FA;
  $footer-links-color:rgba(255, 255, 255, 0.6);
  $border-color:#ECECEC;
  $footer-links-color:rgba(255, 255, 255, 0.6);
  $icon-color:#AFB1B8;
  $footer-socials-color:rgba(255, 255, 255, 0.1); 
  $backdrop-background:rgba(0, 0, 0, 0.2);
  $box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  $projects-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  $transition-duration: 250ms;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}